.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.kubus-container {
  background-color: black;
  width: 100%;
  height: 100%;
}

.kubus {
  position: relative;
}

.slidecontainer {
  color: white;
}

.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.super-crazy-colors {
  background-color: white;
}

.arrows {
  position: relative;
  width: 80px;
  margin-top: 30px;
  margin-left: 20px;
}

.arrow-left {
  position: absolute;
  left: -5px;
  top: 0;
}

.arrow-up {
  position: absolute;
  bottom: -15px;
  left: 20px;
}

.arrow-down {
  position: absolute;
  top: 30px;
  left: 20px;
}

.arrow-right {
  position: absolute;
  right: -5px;
}

.controls-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  bottom: 50%;
  margin-left: 1%;
}
