.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.kubus-container {
  display: block;
  width: 100%;
  background-color: black;
}

.arrow-left {
  position: absolute;
  left: -5px;
  top: 0;
}

.arrow-up {
  position: absolute;
  bottom: -15px;
  left: 20px;
}

.arrow-down {
  position: absolute;
  top: 30px;
  left: 20px;
}

.arrow-right {
  position: absolute;
  right: -5px;
}

.controls-container {
  margin: -20px;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.arrows {
  display: block;
  position: relative;
  width: 80px;
  margin-left: 100px;
  margin-top: 40px;
}

.slidecontainer {
  color: white;
  width: 15%;
}

.slider {
  border-radius: 5%;
}
